
<div class="row">
  <h4>Wiki Collaborators</h4>
  <% @users.each do |user| %>
    <p>
    <%= check_box_tag "wiki[collaborators_attributes][][user_attributes][id]", user.id, wiki.collaborators.detect {| c | c.user == user}.present? %>
      <%= user.email %>
    </p>
  <% end %>
</div>
